html,
#app > div,
body {
  height: 100%;
  background-color: #222831;
}

#root {
  height: auto;
  min-height: 100vh;
}

.my-masonry-grid {
  display: flex;
  width: auto;
}

.my-masonry-grid_column {
  margin: 10px;
}
